In [ ]:
str1 = "Sri Darsan Sah"
lst1 = [1,1.2,True,3+6j]
flt1 = 23.44
tup1 = (1,2.33,True,6+7j)

In [2]:
str1,lst1,flt1,tup1

('Sri Darsan Sah', [1, 1.2, True, (3+6j)], 23.44, (1, 2.33, True, (6+7j)))

In [6]:
var1 = '' #str
var2 = '[DS,ML,Python]' #str
var3 = ['DS','ML','Python'] #list
var4 = 1 #int

In [7]:
type(var1), type(var2), type(var3), type(var3)

(str, str, list, list)

In [12]:
num1 = 100
num2 = 2

In [13]:
num1/num2 #division operator returns floating point value after operation
num1%num2 #modulus operator returns remainder
num1//num2 #floor division operator
num1**num2 #power operator

(50.0, 0, 50, 10000)

In [16]:
lst2 = [11,22.2, True, 6+6j, 'See Saw', [22,33,54,87,'Student'],(1,2,34),{22,32,43,"sri"},{1:'Sri',2:'male',3:'17/03/03'},range(1,10)]
for i in lst2:
    print(i,type(i))

11 <class 'int'>
22.2 <class 'float'>
True <class 'bool'>
(6+6j) <class 'complex'>
See Saw <class 'str'>
[22, 33, 54, 87, 'Student'] <class 'list'>
(1, 2, 34) <class 'tuple'>
{32, 43, 'sri', 22} <class 'set'>
{1: 'Sri', 2: 'male', 3: '17/03/03'} <class 'dict'>
range(1, 10) <class 'range'>

In [27]:
A = int(input('Enter first nnumber'))
B = int(input('Enter second number'))
count = 0
A_copy = A
while(A%B==0):
    count = count + 1
    A = A/B
if (count>0):
    print(A_copy,'is purely divisble by',B)
    print('No of times divisible =',count)
else:
    print(A_copy,'is not divisible by',B)

Enter first nnumber 29
Enter second number 7

29 is not divisible by 7

In [31]:
lst3 = list(range(0,25))
for i in lst3:
    if (i%3==0):
        print(i,'is divisible by 3')
    else:
        print(i,'is not divisible by 3')

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

In [40]:
str2 = 'Sri Darsan Sah' #immutable data type
lst4 = list(str2) #mutable data type

In [41]:
print(lst4[0])
lst4[0] = 'p'
print(lst4[0])
#mutable data type allow changing value at indexed position

S
p

In [43]:
str2[0]
str2[0] = 'p'
#immutable data type don't allow changing of value at indexed position

TypeError: 'str' object does not support item assignment