In [3]:
# Comments are of two type
# Single line comment can be added by this way
""" To add multi line comment we can use this method.
    ALthough we can use '#' symbol for the same too.
    We just have to add '#' symbol in front of each line to make it a comment"""

" To add multi line comment we can use this method.\n    ALthough we can use '#' symbol for the same too.\n    We just have to add '#' symbol in front of each line to make it a comment"

In [4]:
# variables are names assigned to storage locations
# declaration of variables and assignment is done by following the syntax used below
a = 22
b = 33.43

In [5]:
# we can convert one data type to other if it is permissible by using the following syntax
# same way is employed whenever we have to convert a data type to another
a = 22
a = float(a)

In [7]:
# To run a python script in command line we need to do the following
# 1. Install python interpreter and ensure that the environment variable has path set to the directory where python is stored
# 2. Write our python code in a text editor(notepad) and save it with .py extension
# 3. Open command prompt and move to the directory where our script is stored and run it using 'py <sciptName>.py' format

In [10]:
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

In [12]:
# complex number are of the form a + ib where a,b are real numbers and i = (-1)Â½ 
# there stored in following way in python
z = 12 + 6j
z

(12+6j)

In [13]:
# declaring a varible and assigning value 25 to it
a = 25

In [14]:
# declaring a variable and assigning 9.99 to it
b = 9.99
# to check data type of variable b
type(b)

float

In [15]:
# creating a variable name and assigning my name to it
name = "Sri Darsan Sah"
# to print the value of this variable
print(name)

Sri Darsan Sah

In [20]:
# given string "Hello, World!"
str1 = "Hello, World!"
# extracting world from the string
str1[str1.find("W"):str1.find("!"):]

'World'

In [21]:
# creating a boolean varible is_student
is_student = True